.header a {
  text-decoration: none;
}

.gallery > div,
.gallery__item-details {
  display: flex;
  justify-content: center;
}

.gallery__item {
  display: flex;
  flex-direction: column;
  width: 150px;
  height: 150px;
  margin: 10px;
  justify-content: center;
  border: 1px solid #000;
}

.gallery__item span {
  text-align: center;
}

.gallery__item:hover {
  cursor: pointer;
}

.gallery__item:hover span {
  transform: scale(1.2);
}

.gallery__item-details {
  width: 300px;
  height: 300px;
  margin: 50px auto;
}

.gallery__item-details span {
  font-size: 20px;
  font-weight: 700;
  color: red;
  margin: 0 10px;
}

.gallery__item-details p {
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  color: #000;
}

.main-header {
  text-align: center;
}

.main-header a {
  text-decoration: none;
}

.gallery__buttons {
  display: flex;
  justify-content: center;
}

.gallery__buttons button {
  height: 20px;
  margin: 0 5px;
}
